<% provide(:title, "承認画面") %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="universal">
      <h1>承認画面</h1>
      <h3>出張情報</h3>
      <table class="table table-striped">
        <%= render 'shared/trip_statements_header'%>
        <%= render :partial => "shared/trip_statements_table", :locals => { trip_statement: @trip_statement } %>
        
      </table>

      <h3>旅費情報</h3>
      <% if @trip_statement.expences.any? %>
        <table class="table table-striped">
          <%= render 'shared/expences_header'%>
          <%= render :partial => "shared/expences_table", :collection => @expences, :as => "expence" %>
        </table>
      <% else %>
        <p>旅費手当が登録されていません。</p>
      <% end %>

      <% if current_user.admin && @trip_statement.user_id != current_user.id %>
        <h3>承認</h3>
        <%= link_to "承認する", trip_statement_approvals_path(@trip_statement.id, approval: "true"), method: :post, class:"btn btn-primary btn-block btn-block" %>
        <div class="deny_form">
          <h3>否認</h3>
          <%= form_with(model: [@trip_statement, @approval], url:deny_approval_path(@trip_statement.id), local: true) do |f| %>
            <%= f.label :comment, "コメント" %>
            <%= f.text_area :comment %>
            <%= f.submit "否認する", class: "btn btn-primary" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>