<span class="content"><%= @not_approved.user.name %></span>
<span class="content"><%= @not_approved.purpose %></span>
<span class="content"><%= @not_approved.distination %></span>
<%= link_to '承認', '#' %>

<span class="content"><%= @approved.user.name %></span>
<span class="content"><%= @approved.purpose %></span>
<span class="content"><%= @approved.distination %></span>
<%= link_to '詳細', '' %>