<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <h3>申請情報</h3>
      <h4>申請中の出張旅費申請は<%= @created_statements.count %>件</h4>
        <div>
        </div>
      <%= link_to '申請情報を確認する', trip_statements_path, class:"btn btn-primary" %>
      <% if current_user.has_role? :admin %>
        <h3>承認依頼情報</h3>
        <h4>承認待ちの出張旅費申請は<%= @not_approved.count %>件</h4>
          <div>
          </div>
        <%= link_to '承認する', approvals_index_path, class:"btn btn-primary" %>
      <% end %>
    </aside>
    <div class="col-md-6 col-md-offset-2">
      <h3>新規申請</h3>
      <section class="trip_statement_form">
        <%= form_with(model: @trip_statement, local: true) do |f| %>
          <%= f.label :distination, "出張先" %>
          <%= f.text_area :distination, placeholder: "出張先を入力してください" %>
          <%= f.label :purpose, "出張理由" %>
          <%= f.text_area :purpose, placeholder: "出張理由を入力してください" %>
          <%= f.label :start_at, "出発日時" %>
          <%= f.datetime_field :start_at %>
          <%= f.label :finish_at, "帰着日時" %>
          <%= f.datetime_field :finish_at %>
          <%= f.label :work_done_at, "作業完了日時" %>
          <%= f.datetime_field :work_done_at %>
          <%= f.submit "出張情報を登録する", class:"btn btn-primary col-md-6 col-md-offset-3" %>
        <% end %>
      </section>
     </div>
  </div>
<% else %>
  <div class="jumbotron center">
    <h1>RhoHiへようこそ</h1>
    <p>利用した旅費を申請してみましょう</p>
    <%= link_to 'ログインする', new_user_session_path, class:"btn btn-primary" %>
  </div>
<% end %>

