<tr>
  <td><%= l trip_statement.start_at, format: :short %></td>
  <td><%= trip_statement.purpose %></td>
  <td><%= trip_statement.distination %></td>
  <td><%= trip_statement.approved %></td>
  <td><%= link_to "詳細・編集", trip_statement_path(trip_statement.id), class:"btn btn-primary" %></td>
  <td><%= link_to "削除", trip_statement_path(trip_statement.id), method: :delete, class:"btn btn-primary", data: {confirm: "削除しますか？" } %></td>
</tr>