<% provide(:title, "申請閲覧") %>
<h1>出張旅費情報</h1>
<h3>出張情報</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>申請者</th>
      <th>出張先</th>
      <th>出張理由</th>
      <th>出発日時</th>
      <th>帰着日時</th>
      <th>作業完了日時</th>
      <th>申請ステータス</th>
      <th>承認ステータス</th>
      <th>編集</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @trip_statement.distination %></td>
      <td><%= @trip_statement.purpose %></td>
      <td><%= @trip_statement.start_at %></td>
      <td><%= @trip_statement.finish_at %></td>
      <td><%= @trip_statement.work_done_at %></td>
      <td><%= @trip_statement.applied %></td>
      <td><%= @trip_statement.approved %></td>
      <td><%= link_to "編集", edit_trip_statement_path(@trip_statement.id), class:"btn btn-primary" %></td>
    <tr>
  </tbody>
</table>

<h3>旅費情報</h3>
<% if @trip_statement.expences.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>移動日</th>
        <th>利用交通機関</th>
        <th>乗車駅・出発地</th>
        <th>降車駅・到着地</th>
        <th>運賃・料金</th>
        <th>移動距離</th>
        <th>手当</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
</thead>
    <%= render @expences %>
  </table>
<% else %>
  <p>旅費手当が登録されていません。</p>
<% end %>

<% if @trip_statement.user_id == current_user.id %>
  <%= link_to "旅費情報を追加する", new_trip_statement_expence_path(@trip_statement.id), class:"btn btn-primary btn-block" %>
  <%= link_to "申請する", trip_statement_path(@trip_statement.id, process: "apply"),method: :get, class:"btn btn-primary btn-block" %>
<% end %>

<% if current_user.admin && @trip_statement.user_id != current_user.id %>
  <h3>承認</h3>
  <%= link_to "承認する", trip_statement_approval_index_path(@trip_statement.id, approval: "true"), method: :post, class:"btn btn-primary btn-block btn-block" %>
  <%= link_to "否認する", trip_statement_approval_index_path(@trip_statement.id, :approval => "false"), method: :post, class:"btn btn-primary btn-block btn-block" %>
<% end %>