<h1><%= @user.name %>が申請した旅費</h1>
<h3>旅費申請情報</h3>
<span><%= @trip_statement.distination %></span>
<span><%= @trip_statement.purpose %></span>
<span><%= @trip_statement.start %></span>
<span><%= @trip_statement.finish %></span>
<span><%= @trip_statement.work_done %></span>
<span><%= @trip_statement.applied %></span>
<span><%= @trip_statement.approved %></span>



<h3>手当情報</h3>
<% if @trip_statement.expences.any? %>
  <%= render @expences %>
<% end %>