<h1><%= @user.name %>が申請した旅費</h1>
<h3>旅費申請情報</h3>
<span><%= @trip_statement.user.name %></span>
<span><%= @trip_statement.distination %></span>
<span><%= @trip_statement.purpose %></span>
<span><%= @trip_statement.start %></span>
<span><%= @trip_statement.finish %></span>
<span><%= @trip_statement.work_done %></span>
<span><%= @trip_statement.applied %></span>
<span><%= @trip_statement.approved %></span>

<h3>手当情報</h3>
<% if @trip_statement.user_id == current_user.id %>
  <%= link_to "手当情報を追加する", new_trip_statement_exepence_path(@trip_statement.id), method: :get %>
<% end %>
<% if @trip_statement.expences.any? %>
  <%= render @expences %>
<% else %>
  <p>旅費手当が登録されていません。</p>
<% end %>

<% if current_user.admin && @trip_statement.user_id != current_user.id %>
  <h3>承認</h3>
  <%= link_to "承認する", trip_statement_approval_index_path(@trip_statement.id, approval: "true"), method: :post %>
  <%= link_to "否認する", trip_statement_approval_index_path(@trip_statement.id, :approval => "false"), method: :post %>
<% end %>