<% provide(:title, "申請閲覧") %>
<h1><%= @user.name %>が申請した旅費</h1>
<h3>旅費申請情報</h3>
<p><span>申請者：</span><%= @user.name %></p>
<p><span>出張先：</span><%= @trip_statement.distination %></p>
<p><span>出張理由：</span><%= @trip_statement.purpose %></p>
<p><span>出発日時：</span><%= @trip_statement.start %></p>
<p><span>帰着日時：</span><%= @trip_statement.finish %></p>
<p><span>作業完了時刻：</span><%= @trip_statement.work_done %></p>
<p><span>申請ステータス：</span><%= @trip_statement.applied %></p>
<p><span>承認ステータス：</span><%= @trip_statement.approved %></p>

<h3>手当情報</h3>
<% if @trip_statement.expences.any? %>
  <%= render @expences %>
<% else %>
  <p>旅費手当が登録されていません。</p>
<% end %>

<% if @trip_statement.user_id == current_user.id %>
  <%= link_to "手当情報を追加する", new_trip_statement_expence_path(@trip_statement.id) %>
<% end %>

<% if current_user.admin && @trip_statement.user_id != current_user.id %>
  <h3>承認</h3>
  <%= link_to "承認する", trip_statement_approval_index_path(@trip_statement.id, approval: "true"), method: :post %>
  <%= link_to "否認する", trip_statement_approval_index_path(@trip_statement.id, :approval => "false"), method: :post %>
<% end %>