<li id="expence-<%= expence.id %>">
  <span class="content"><%= link_to expence.date, '#' %></span>
  <span class="content"><%= expence.transportation %></span>
  <span class="content"><%= expence.bording %></span>
  <span class="content"><%= expence.get_off %></span>
  <span class="content"><%= expence.fare %></span>
  <span class="content"><%= expence.mileage %></span>
  <span class="content"><%= expence.allowance %></span>
</li>