
<tbody>
  <% if @user.trip_statements.any? %>
    <tr>
      <td><%= link_to expence.date, '#' %></td>
      <td><%= expence.transportation %></td>
      <td><%= expence.bording %></td>
      <td><%= expence.get_off %></td>
      <td><%= expence.fare %>円</td>
      <td><%= expence.mileage %>km</td>
      <td><%= expence.allowance %>円</td>
      <td><%= link_to "詳細", expence_path() %></td>
      <td><%= link_to "編集", edit_expence_path() %></td>
    </tr>
  <% end %>
</tbody>