<h1>手当画面</h1>
<%= form_with(model: [@trip_statement, @expence], local: true) do |f| %>
  <div>
    <%= f.label :date %>
    <%= f.date_select :date, placeholder: "移動日を入力してください" %>
    <%= f.label :transportation %>
    <%= f.text_area :transportation, placeholder: "使用した交通機関を入力してください" %>
    <%= f.label :bording %>
    <%= f.text_area :bording, placeholder: "乗車駅・出発地" %>
    <%= f.label :get_off %>
    <%= f.text_area :get_off, placeholder: "降車駅・到着地" %>
    <%= f.label :fare %>
    <%= f.text_area :fare, placeholder: "運賃・料金" %>
    <%= f.label :mileage %>
    <%= f.text_area :mileage, placeholder: "移動距離※車の場合" %>
    <%= f.label :allowance %>
    <%= f.text_area :allowance, placeholder: "手当" %>
  </div>
  <%= f.submit "手当情報登録", class: "btn btn-primary" %>
<% end %>
