<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "RhoHi", root_path, id: "logo" %>
    <nav>
      <% if user_signed_in? %>
        <p><%= current_user.company.name %></p>
        <strong><%= link_to current_user.name, home_about_path %>でログイン中</strong>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to '申請する', new_trip_statement_path %></li>         
          <li><%= link_to '申請一覧', trip_statements_path %></li>
          <% if current_user.admin %>
            <li><%= link_to '承認する', approval_index_path %></li>
          <% end %>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
          <li><%= link_to 'ログイン', new_user_session_path %></li>
        </ul>
      <% end %>
    </nav>
  </div>
</header>