<!DOCTYPE html>
<html>
  <%= render 'layouts/various' %>
  <body>
    <%= render 'layouts/header' %>

    <%# <p class='notice'><%= notice %>
    <%# <p class='alert'><%= alert %>

    <div class='container'>
      <% flash.each do |messate_type, message| %>
        <div class='alert alert-<%= messate_type %>'><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
