<!DOCTYPE html>
<html>
  <%= render 'layouts/various' %>
  <body>
    <%= render 'layouts/header' %>

    <%= javascript_pack_tag 'custom_vue' %>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_pack_tag 'hello_vue'  %> 

    <%# <p class="notice"><%= notice %>
    <%# <p class="alert"><%= alert %>

    <div id="hello">
      <p>{{ message }}</p>
    </div>

    <div id="hello2">
      <p>{{ message }}</p>
    </div>

    <div class="container">
      <% flash.each do |messate_type, message| %>
        <div class="alert alert-<%= messate_type %>"><%= message %></div>
      <% end %>
      
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
